.HomePage{

    .team-tiles-section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        margin-top: 2rem;
    }

    .header-section{
        h1{
            font-size: 3rem;
        }
    }
    
}