.MatchDetailCard{
    .match-date, .match-venue, .match-result{
        margin-top: 10px;
        font-size: 1rem;
        font-weight: lighter;
    } 

    padding: 0.9rem;
    display: grid;
    grid-template-columns: 2fr 1fr;

    .detail-section-2{
        text-align: right;
        font-size: 0.8rem;

        h3:not(:first-child){
            margin-top: 15px;
        }

        h3{
        font-weight: 590;
        }
    }

}

